<div class="row">
  <div class="col-md-6">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Previous Year - Rating
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="year">Year</label>
                <input id="year" name="year" type="text" value="2019" class="form-control">
              </div>
              <div class="form-group">
                <label for="devGoals">Development Goals</label>
                <textarea id="devGoals" name="devGoals" cols="40" value ="2019-Dev-Goals" rows="2" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="strengths">Stengths</label>
                <textarea id="strengths" name="strengths" cols="40" value ="2019-Strengths" rows="2" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="responsibilities">Responsibilities</label>
                <textarea id="responsibilities" value ="2019-Responsibilities" name="responsibilities" cols="40" rows="2"
                  class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="accomlishments">Accomlishments</label>
                <textarea id="accomlishments" value ="2019-Accomlishments" name="accomlishments" cols="40" rows="2" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="rating">Rating</label>
                <input id="rating" name="rating"  value ="Outstanding" type="text" class="form-control">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="accordion" id="accordionExample1">
      <div class="card">
        <div class="card-header" id="headingTwo2">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo2"
              aria-expanded="true" aria-controls="collapseTwo2">
              Current Year Performance - Self Evaluation
            </button>
          </h2>
        </div>
        <div id="collapseTwo2" class="collapse show" aria-labelledby="headingTwo2" data-parent="#accordionExample1">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="year">Year</label>
                <input [(ngModel)]="perfYear" name="perfYear" id="year" name="year" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="devGoals">Development Goals</label>
                <textarea [(ngModel)]="perfDevGoals" name="perfDevGoals" id="devGoals2" name="devGoals" cols="40" rows="2" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="strengths">Strengths</label>
                <textarea [(ngModel)]="perfStrengths" name="perfStrengths" id="strengths2" name="strengths" cols="40" rows="2" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="responsibilities">Responsibilities</label>
                <textarea [(ngModel)]="perfRespo" name="perfRespo" id="responsibilities2" name="responsibilities" cols="40" rows="2"
                  class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="accomlishments">Accomlishments</label>
                <textarea [(ngModel)]="perfAccom" name="perfAccom" id="accomlishments2" name="accomlishments" cols="40" rows="2" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <span *ngIf="submitPerformanceSaved">
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Saved!!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </span>
                <button (click)="submitPerformance()" name="submit" type="submit" class="btn btn-primary float-right">Submit</button>
              </div>
              <br/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row" *ngIf="isManagerOut">
  <div class="col-md-12">
    <div class="accordion" id="accordionExample2">
      <div class="card">
        <div class="card-header" id="headingOne1">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne1"
              aria-expanded="true" aria-controls="collapseOne1">
              Performance Evaluation For Direct Reports
            </button>
          </h2>
        </div>
        <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1" data-parent="#accordionExample2">
          <div class="card-body">
            <!-- <ul class="list-group">
              <li class="list-group-item">Aarti Andhe - Previous Year Rating : Commandable&nbsp;&nbsp;<button type="button" class="btn btn-primary btn-sm"
                    data-toggle="modal" data-target="#exampleModalLong">
                    Rate
                  </button></li>
              <li class="list-group-item">Prinu Philip John - Previous Year Rating : Outstanding&nbsp;&nbsp;<button type="button" class="btn btn-primary btn-sm"
                data-toggle="modal" data-target="#exampleModalLong">
                Rate
              </button></li>
              <li class="list-group-item">Varun Selvakumar - Previous Year Rating : Commandable&nbsp;&nbsp;<button type="button" class="btn btn-primary btn-sm"
                data-toggle="modal" data-target="#exampleModalLong">
                Rate
              </button></li>
              <li class="list-group-item">Arun Raj - Previous Year Rating : Commandable&nbsp;&nbsp;<button type="button" class="btn btn-primary btn-sm"
                data-toggle="modal" data-target="#exampleModalLong">
                Rate
              </button></li>
              <li class="list-group-item">Joseph Victor - Previous Year Rating : Outstanding&nbsp;&nbsp;<button type="button" class="btn btn-primary btn-sm"
                data-toggle="modal" data-target="#exampleModalLong">
                Rate
              </button></li>
            </ul> -->
            <ag-grid-angular [pagination]="true" style="width: 1040px; height: 500px;" class="ag-theme-alpine" [rowData]="rowData"
            [columnDefs]="columnDefs" (cellClicked)='onCellClicked($event)'></ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="perfApproval" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div>
              <div class="custom-control custom-radio custom-control-inline">
                <input [(ngModel)]="evaPerfStat" name="evaPerfStat" id="radio_0" type="radio" class="custom-control-input" value="Commandable"> 
                <label for="radio_0" class="custom-control-label">Commandable</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input [(ngModel)]="evaPerfStat" name="evaPerfStat" id="radio_1" type="radio" class="custom-control-input" value="Outstanding"> 
                <label for="radio_1" class="custom-control-label">Outstanding</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="textarea">Comments</label> 
            <textarea [(ngModel)]="evaPerfComm" name="evaPerfComm" id="textarea"  cols="40" rows="3" class="form-control"></textarea>
          </div> 
        </form>
      </div>
      <div class="modal-footer">
        <span *ngIf="evaluatePerformanceSaved">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            Saved!!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </span>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="evaluatePerformance()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>