<div class="row" style="width: 1040px;">
  <div class="col-md-6">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Apply Timeoff
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Time Off Type</label>
                <select [(ngModel)]="leaveType" name="leaveType" class="form-control" id="leaveType">
                  <option>Sick</option>
                  <option>Casual</option>
                  <option>Unpaid</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Reason</label>
                <input [(ngModel)]="leaveReason" name="leaveReason" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="start">Start Date</label>
                <input [(ngModel)]="leaveStartDt" name="leaveStartDt" type="date" class="form-control" id="start" name="Start Date">
              </div>
              <div class="form-group">
                <label for="end">End Date</label>
                <input [(ngModel)]="leaveEnd" name="leaveEnd" type="date" class="form-control" id="end" name="End Date">
              </div>
              <!-- <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Is it a Half Day?
                </label>
              </div> -->
              <br />
              <div class="form-group">
                <span *ngIf="applyLeaveSaved">
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Saved!!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </span>
                <button (click)="applyLeave()" type="submit" class="btn btn-primary float-right">Apply</button><br /><br />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="accordion" id="accordionExample1">
      <div class="card" style="width: 37rem;">
        <div class="card-header" id="headingTwo2">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo2"
              aria-expanded="true" aria-controls="collapseTwo2">
              History
            </button>
          </h2>
        </div>
        <div id="collapseTwo2" class="collapse show" aria-labelledby="headingTwo2" data-parent="#accordionExample1">
          <div class="card-body">
            <ag-grid-angular [pagination]="true" style="width: 35rem;height:27rem;" class="ag-theme-alpine" [rowData]="rowDataHistory"
            [columnDefs]="columnDefsHistory"></ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="row" *ngIf="isManagerOut">
  <div class="col-md-12">
    <div class="accordion" id="accordionExample2">
      <div class="card">
        <div class="card-header" id="headingOne1">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
             Approvals
            </button>
          </h2>
        </div>
        <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1" data-parent="#accordionExample2">
          <div class="card-body">
            <ag-grid-angular [pagination]="true" style="width: 1040px; height: 500px;" class="ag-theme-alpine" [rowData]="rowData"
            [columnDefs]="columnDefs" (cellClicked)='onCellClicked($event)'></ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="leaveApproval" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div>
              <div class="custom-control custom-radio custom-control-inline">
                <input [(ngModel)]="leaveActionRadio" name="leaveActionRadio" id="radio_0" type="radio" class="custom-control-input" value="approve"> 
                <label for="radio_0" class="custom-control-label">Approve</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input [(ngModel)]="leaveActionRadio" name="leaveActionRadio" id="radio_1" type="radio" class="custom-control-input" value="reject"> 
                <label for="radio_1" class="custom-control-label">Reject</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="textarea">Comments</label> 
            <textarea [(ngModel)]="leaveActionComments" id="textarea" name="leaveActionComments" cols="40" rows="3" class="form-control"></textarea>
          </div> 
        </form>
      </div>
      <div class="modal-footer">
        <span *ngIf="leaveActionSaved">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            Saved!!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </span>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="leaveAppRejAction()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>