<!-- <div id="home" class="container tab-pane active"><br> -->
  <div *ngIf="!isLoggedInOut" class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-6 font-italic">Welcome One Workforce!</h1>
      <p class="lead my-3">One shop stop for all your enterprise needs</p>
    </div>
  </div>
  <div *ngIf="isLoggedInOut" class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-6 font-italic">Welcome One Workforce!</h1>
      <p class="lead my-3">One shop stop for all your enterprise needs</p>
      <p class="lead my-3"> {{loggedInUserDetailsOut}}</p>
    </div>
  </div>
<!-- </div> -->