<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        
      </div>
      <div class="col-4 text-center">
        
      </div>
      <div *ngIf="!isLoggedIn" class="col-4 d-flex justify-content-end align-items-center">
        <button (click)="socialSignIn('google')" type="button" class="btn btn-secondary">Sign in with Google</button>
      </div>
      <div *ngIf="isLoggedIn" class="col-4 d-flex justify-content-end align-items-center">
        <button type="button" class="btn btn-secondary">{{loggedInUser}}</button>
      </div>
    </div>
  </header>

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="fetchServiceData()" data-toggle="tab" href="#apps">Apps</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#empMng">Employee Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#performace">iCount</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <app-signin-google [isLoggedInOut]="isLoggedIn" [loggedInUserOut]="loggedInUser" [loggedInUserDetailsOut]="loggedInUserDetails"></app-signin-google>
    </div>
    <div id="apps" class="container tab-pane fade"><br>
      <app-apps></app-apps>
    </div>
    <div id="empMng" class="container tab-pane fade"><br>
      <app-employee-management></app-employee-management>
    </div>
    <div id="performace" class="container tab-pane fade"><br>
      <app-performance></app-performance>
    </div>
  </div>

</div>
