<div class="row">
  <div class="col-md-3">
  <form>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Expense Type</label>
      <select class="form-control" id="leaveType">
        <option>Internet</option>
        <option>Accomodation</option>
        <option>Food</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Description</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="start">Amount </label>
      <input type="text" class="form-control" id="start" name="Amount">
    </div>
    <br/>
    <div class="form-group">
      <button type="submit" class="btn btn-primary float-right">Submit</button><br/><br/>
    </div>
  </form>
  </div>
  <div class="col-md-9">
    <ag-grid-angular
    style="width: 820px; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"></ag-grid-angular>
  </div>
</div>