<div style="width: 100%;">
<div style="float: left; width: 50%;" class="justify-content-md-center">
<div class="row align-items-center">
  <div class="col">
    <div class="card" style="width: 125px; height: 100px;">
      <a href = "https://royalchallengers272.na4.echosign.com" target = "_blank">
        <img style="width: 125px; height: 100px;" src="https://cdn.auth0.com/marketplace/catalog/content/assets/creators/adobe/adobe-avatar.png" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <p class="card-text">Adobe Sign</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 125px; height: 100px;">
      <a href = "https://www.dropbox.com/sso/626628090399" target = "_blank">
        <img style="width: 125px; height: 100px;" src="https://cdn.auth0.com/marketplace/catalog/content/assets/creators/dropbox/dropbox-avatar.png" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <p class="card-text">Dropbox</p>
      </div>
    </div>
  </div>
</div>
<br/><br/><br/><br/>
  <div class="row">
  <div class="col">
    <div class="card" style="width: 125px; height: 100px;">
      <a href = "https://royalchallengers272.na4.echosign.com" target = "_blank">
        <img style="width: 125px; height: 100px;" src="https://cdn.auth0.com/marketplace/catalog/content/assets/creators/litmos/litmos-avatar.png" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <p class="card-text">Litmos</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 125px; height: 100px;">
      <a href = "https://royalchallengers272.zendesk.com/" target = "_blank">
        <img style="width: 125px; height: 100px;" src="https://cdn.auth0.com/marketplace/catalog/content/assets/creators/zendesk/zendesk-avatar.png" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <p class="card-text">Zendesk</p>
      </div>
    </div>
  </div>
</div>
</div>
<span style="float:right">
<div class="row">
<div>
  <a class="twitter-timeline" data-width="550" data-height="750" href="https://twitter.com/technology?ref_src=twsrc%5Etfw">Tweets by technology</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
</span>
</div>
