<div class="row">
  <div class="col-md-3">
    <div class="card" style="width: 125px; height: 100px;">
      <a href = "https://acrobat.adobe.com/in/en/sign.html" target = "_blank"> 
        <img style="width: 125px; height: 100px;" src="https://cdn.auth0.com/marketplace/catalog/content/assets/creators/adobe/adobe-avatar.png" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <p class="card-text">Adobe Sign</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 125px; height: 100px;">
      <a href = "https://www.dropbox.com/?landing=dbv2" target = "_blank"> 
        <img style="width: 125px; height: 100px;" src="https://cdn.auth0.com/marketplace/catalog/content/assets/creators/dropbox/dropbox-avatar.png" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <p class="card-text">Dropbox</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 125px; height: 100px;">
      <a href = "https://www.litmos.com/" target = "_blank"> 
        <img style="width: 125px; height: 100px;" src="https://cdn.auth0.com/marketplace/catalog/content/assets/creators/litmos/litmos-avatar.png" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <p class="card-text">Litmos</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 125px; height: 100px;">
      <a href = "https://www.zendesk.com/" target = "_blank"> 
        <img style="width: 125px; height: 100px;" src="https://cdn.auth0.com/marketplace/catalog/content/assets/creators/zendesk/zendesk-avatar.png" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <p class="card-text">Zendesk</p>
      </div>
    </div>
  </div>
</div>